
div {
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    background-color: red;
}
p {
    font-size: 20px;
    text-decoration: line-through;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}