body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}
div {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    background-color: red;
}
p {
    font-size: 20px;
    text-decoration: line-through;
    text-align: center;
}